#field {
  position: absolute;
  left: 0;
  top: 0;
}

canvas {
  position: absolute;
  left: 15px;
  top: 0;
}

.legend {
  position: absolute;
  z-index: 30;
}

.players-legend {
  left: 980px;
  top: 20px;
}

.type-legend {
  left: 825px;
  top: 20px;
  font-size: 15px !important;
}
